nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 4rem;
    height: 6vh;
    z-index: 99;
}
nav .menu {
    display: flex;
    align-items: center;
    gap: 2rem;
}
nav .menu a {
    color: #9B5019;
}
nav .menu button {
    border: none;
    padding: 0.66rem;
    font-size: 1rem;
    cursor: pointer;
}
nav .menu .user {
    color: black;
    font-size: 1.5rem;
}